In [1]:
import company

COMPANY = company.Company("Costco", 5)

display(COMPANY.df_filings)

{'cik': '0000909832', 'name': 'COSTCO WHOLESALE CORP /NEW'}

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription,cik,InteractiveURL,ExcelURL,df_statements
1,0000909832-24-000029,2024-06-06,2024-05-12,2024-06-05T18:12:29.000Z,34,10-Q,000-20355,241023292,,4423420,1,1,cost-20240512.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
9,0000909832-24-000017,2024-03-13,2024-02-18,2024-03-13T17:23:57.000Z,34,10-Q,000-20355,24747070,,4479125,1,1,cost-20240218.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
61,0000909832-23-000065,2023-12-20,2023-11-26,2023-12-20T16:49:22.000Z,34,10-Q,000-20355,231501907,,4143548,1,1,cost-20231126.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
102,0000909832-23-000042,2023-10-11,2023-09-03,2023-10-10T19:13:15.000Z,34,10-K,000-20355,231319106,,6585458,1,1,cost-20230903.htm,10-K,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
130,0000909832-23-000028,2023-06-01,2023-05-07,2023-05-31T19:21:31.000Z,34,10-Q,000-20355,23982633,,5004822,1,1,cost-20230507.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...

In [2]:
display(COMPANY.df_filings["df_statements"].iloc[0])

display(COMPANY.df_filings.iloc[0]["df_statements"].iloc[1]["df_table"])

,Name,Internal Name,df_table
0,Cover,Cover - shares nan,Concep...
1,Condensed Consolidated Statemen,Condensed Consolidated Statements Of Income - ...,Concept \ 0 ...
2,Condensed Consolidated Statem_2,Condensed Consolidated Statements Of Comprehen...,C...
3,Condensed Consolidated Balance,Condensed Consolidated Balance Sheets - USD ($...,...
4,Condensed Consolidated Balanc_2,Condensed Consolidated Balance Sheets (Parenth...,Conc...
5,Consolidated Statement of Stock,Consolidated Statement of Stockholders' Equity...,...
6,Condensed Consolidated Statem_3,Condensed Consolidated Statements Of Cash Flow...,...
7,Summary of Significant Accounti,Summary of Significant Accounting Policies nan,Concept \ 0 Summa...
8,Investments,Investments nan,Concept Investments nan 8 Months...
9,Fair Value Measurement,Fair Value Measurement nan,Concept \ 0 Fair Value Mea...
10,Debt,Debt nan,Concept Debt nan 8 Months Ende...
11,Equity,Equity nan,Concept Equity nan...
12,Stock-Based Compensation Plans,Stock-Based Compensation Plans nan,Concept \ 0 Stock-...
13,Net Income per Common and Commo,Net Income per Common and Common Equivalent Sh...,C...
14,Commitments and Contingencies,Commitments and Contingencies nan,Concept \ 0 Commitm...
15,Segment Reporting,Segment Reporting nan,Concept Segment Reporting nan 8 ...
16,Summary of Significant Accoun_2,Summary of Significant Accounting Policies (Po...,C...
17,Investments (Tables),Investments (Tables) nan,C...
18,Fair Value Measurement (Tables),Fair Value Measurement (Tables) nan,C...
19,Debt (Tables),Debt (Tables) nan,C...
20,Equity (Tables),Equity (Tables) nan,Concept \ 0 Stock...
21,Stock-Based Compensation Plans,Stock-Based Compensation Plans (Tables) nan,C...
22,Net Income per Common and Com_2,Net Income per Common and Common Equivalent Sh...,C...
23,Segment Reporting (Tables),Segment Reporting (Tables) nan,Concep...
24,Accounting Policies - Additiona,Accounting Policies - Additional Information (...,...
25,Investments - Available-for-sal,Investments - Available-for-sale and Held-to-m...,...
26,Investments - Maturities of Ava,Investments - Maturities of Available-for-sale...,Concept ...
27,Fair Value Measurement - Fair V,Fair Value Measurement - Fair Value of Financi...,...
28,Debt (Carrying Value and Estima,Debt (Carrying Value and Estimated Fair Value ...,...
29,Equity - Additional Information,Equity - Additional Information - Dividends (D...,Concep...
30,Equity (Stock Repurchased Durin,Equity (Stock Repurchased During Period) (Deta...,C...
31,Equity - Additional Informati_2,Equity - Additional Information - Stock Repurc...,Concept...
32,Stock-Based Compensation Plan_2,Stock-Based Compensation Plans - Additional In...,...
33,Stock-Based Compensation Plan_3,Stock-Based Compensation Plans - Summary of RS...,Conc...
34,Stock-Based Compensation Plan_4,Stock-Based Compensation Plans - Summary of St...,C...
35,Net Income per Common and Com_3,Net Income per Common and Common Equivalent Sh...,C...
36,Segment Reporting Information b,Segment Reporting Information by Segment (Deta...,...
37,Segment Reporting Segment Repor,Segment Reporting Segment Reporting Informatio...,Concept \ ...

,Concept,"Condensed Consolidated Statements Of Income - USD ($) shares in Thousands, $ in Millions nan 3 Months Ended May 12, 2024"
0,Total Revenue,58515
1,OPERATING EXPENSES,
2,Merchandise costs,51173
3,"Selling, general and administrative",5145
4,Operating income,2197
5,OTHER INCOME (EXPENSE),
6,Interest expense,-41
7,"Interest income and other, net",128
8,INCOME BEFORE INCOME TAXES,2284
9,Provision for income taxes,603
10,NET INCOME,1681
11,NET INCOME PER COMMON SHARE:,
12,Basic (in dollars per share),3.79
13,Diluted (in dollars per share),3.78
14,Shares used in calculation (000's),
15,Basic (shares),443892
16,Diluted (shares),444828
17,Net Sales,
18,REVENUE,
19,Total Revenue,57392
20,Membership fees,
21,REVENUE,
22,Total Revenue,1123

In [3]:
# given a list of np arrays, combine them favoriting order for the first in the array

def get_left_list(df_company_filings): 
    
    display(df_company_filings)


# create a list of np arrays based on the selected statement for each 

get_left_list(COMPANY.df_filings)

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription,cik,InteractiveURL,ExcelURL,df_statements
1,0000909832-24-000029,2024-06-06,2024-05-12,2024-06-05T18:12:29.000Z,34,10-Q,000-20355,241023292,,4423420,1,1,cost-20240512.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
9,0000909832-24-000017,2024-03-13,2024-02-18,2024-03-13T17:23:57.000Z,34,10-Q,000-20355,24747070,,4479125,1,1,cost-20240218.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
61,0000909832-23-000065,2023-12-20,2023-11-26,2023-12-20T16:49:22.000Z,34,10-Q,000-20355,231501907,,4143548,1,1,cost-20231126.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
102,0000909832-23-000042,2023-10-11,2023-09-03,2023-10-10T19:13:15.000Z,34,10-K,000-20355,231319106,,6585458,1,1,cost-20230903.htm,10-K,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...
130,0000909832-23-000028,2023-06-01,2023-05-07,2023-05-31T19:21:31.000Z,34,10-Q,000-20355,23982633,,5004822,1,1,cost-20230507.htm,10-Q,0000909832,https://www.sec.gov/Archives/edgar/data/000090...,https://www.sec.gov/Archives/edgar/data/000090...,Name \ 0 ...

In [4]:
print(dfs.keys())

def search():
    component_names = list(dfs.keys())

    from fuzzywuzzy import process

    # TODO: filter to concepts that I KNOW will be there (assets, net income, free cash flow)
    balancesheet = process.extract("Balance Sheet", component_names, limit = len(component_names))
    incomestatement = process.extract("Condensed Consolidated Statement of Income", component_names,limit = len(component_names))
    cashflowstatement = process.extract("Condensed Consolidated Statem_3", component_names,limit = len(component_names))

    print(balancesheet)    
    print(incomestatement)
    print(cashflowstatement)

    # for component in components:
    #     if incomestatement[0][0] == component.get_info():
    #         return component
    
    # for i, x in enumerate(ratios):
    # # for ratio in ratios:
    #     print(component_names[i] + "   "+ str(x))

search()

NameError: name 'dfs' is not defined

In [ ]:
import pandas as pd

# Sample DataFrames
df_concepts = pd.DataFrame({'Concept': ['A', 'B', 'C', 'D', 'E']})
df_mainfact = pd.DataFrame({'Concept': ['A', 'B', 'C'], 'mainFact': [1, 2, 3]})
df_secondaryfact = pd.DataFrame({'Concept': ['C', 'D', 'E'], 'secondaryFact': [33, 4, 5]})

# Merge mainfact and secondaryfact dataframes with concepts dataframe
merged_df = df_concepts.merge(df_mainfact, on='Concept', how='left').merge(df_secondaryfact, on='Concept', how='left')

# Display the final dataframe
print(merged_df)